* {
    box-sizing: content-box;
    margin: 0px;
}

.o {
    color: orange;
}

.google {
    font-size: 130px;
    margin-top: 150px;
}

div {
    font-size: 20px;
}


/* nav {
  margin-top: 0px;
  float: right;
  color: gray;
} */

header {
    margin-top: 0px;
    text-align: right;
}

#main {
    text-align: center;
}

#search {
    width: 400px;
    font-weight: lighter;
    margin-top: 20px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    border-color: grey;
    border-radius: 20px;
    display: block;
}

input:focus {
    border-radius: 20px;
    border-color: gray;
    outline: none;
}

.block {
    margin: 10px;
    padding: 5px;
    background-color: whitesmoke;
    border-style: hidden;
}

.fdown {
    position: absolute;
    bottom: 0px;
}

.bottomrightlink {
    float: right;
    bottom: 0px;
    right: 0px;
}